<h1 class="mb-5">Quản Lý Trường Học</h1>
<a routerLink="add" nz-button nzType="default" class="mb-2"> Add New School </a>
<nz-table #basicTable [nzScroll]="{ y: '330px' }" [nzData]="data">
  <thead>
    <tr>
      <th nzWidth="10%">STT</th>
      <th nzWidth="20%">Name</th>
      <th nzWidth="20%">Address</th>
      <th nzWidth="10%">Rating</th>
      <th nzWidth="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let school of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ school.nameSchool }}</td>
      <td>{{ school.locationSchool }}</td>
      <td>{{ school.rating }}</td>
      <td>
        <a routerLink="update/{{ school.id }}" nz-button nzType="default"
          >Update</a
        >
        <button
          (click)="onDelete(school.id)"
          nz-button
          nzType="default"
          nzDanger
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
